NUXT_OPENROUTER_API_KEY=your_openrouter_api_key
NUXT_BLOG_ADMIN_TOKEN=replace_with_a_long_random_secret
NUXT_BLOGS_STORAGE_FILE=.data/blog-posts.json
NUXT_BLOG_GENERATION_CRON="0 9 * * *"
NUXT_BLOG_GENERATION_TIMEZONE=UTC
